html, body {
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  color: white;
  background: url("images/bg.jpg");
  font-size: 48px;
  font-family: 'Lucida Grande';
}

div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#typedtext {
  padding-top: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
