<div class="sidebar">
  <a class="name"><span class="mu-an">Harshita</span><span class="chiou">Chandra</span></a>
  <p>
  I design and develop <span class="ios">iOS applications</span>. Previously at Spice Digital, Times Internet, and Paytm. Currently helping build <a href="https://www.thelocaltribe.com/">The Local Tribe</a>
  </p>
  <h4 class="title-pictures">Milestones</h4>
  <div class="photos">
    <img src="../images/aps.png" class="p1 photo" alt="2007">
    <img src="../images/bpd.png" class="p2 photo" alt="2011">
    <img src="../images/apl.jpg" class="p3 photo" alt="2012">
    <div class="caption c1">2007: Graduated School</div>
    <div class="caption c2">2011: Graduated College</div>
    <div class="caption c3">2012: Ventured into iOS Development</div>
  </div>
  <h4 class="title-contact">Get in touch</h4>
  <p>
    <li><a href="https://github.com/thelastjedi">Github</a></li
    <li><a href="mailto:contact@harshi.co">Email</a></li>
    <li><a href="https://linkedin.com/in/harshitachandra">LinkedIn</a></li>
  </p>
</div>
