<div class="sidebar">
  <a class="name"><span class="mu-an">Harshita</span><span class="chiou">Chandra</span></a>
  <p>
  <mark>iOS Developer</mark> by profession, stuck-up half-witted scruffy-looking nerf-herder by heart.
  </p>
  <h4 class="title-pictures">Milestones</h4>
  <div class="photos">
    <img src="../images/aps.png" class="p1 photo" alt="2007">
    <img src="../images/bpd.png" class="p2 photo" alt="2011">
    <img src="../images/apl.jpg" class="p3 photo" alt="2012">
    <div class="caption c1">2007: Finished School</div>
    <div class="caption c2">2011: B.E (Hons.) in Computer Science</div>
    <div class="caption c3">2012: Started Developing iOS Applications</div>
  </div>
  <h4 class="title-contact">Get in touch</h4>
  <p>
    <li><a href="https://twitter.com/harshi89">Twitter</a></li>
    <li><a href="https://github.com/thelastjedi">Github</a></li>
    <li><a href="mailto:contact@harshi.co">Email</a></li>
    <li><a href="https://linkedin.com/in/harshitachandra">LinkedIn</a></li>
  </p>
</div>
